<html>
    <head>
        {# <!-- Add bootstrap to html page --> #}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Your New Contact Summary</title>
    </head>
    <body>
        <div class='container'>
        <h1>Here is your new contact!</h1>
        <ul>
            <div>
                <li><h4><strong>{{newcontact.getName}}</strong></h4></li>
                <li>Phone Number: {{newcontact.getPhone}}</li>
                <li>Address: {{newcontact.getAddress}}</li>
                <li>Email: {{newcontact.getEmail}}</li>
            </div>
        <ul>
            <a href='/add_contact'>Add another contact</a>
            <a href='/view_all_contacts'>View all contacts</a>
        </div>
    </body>
</html>
