<html>
    <head>
        {# <!-- Add bootstrap to html page --> #}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Delete all contacts</title>
    </head>
    <body>
        <div class='container'>
            <h1>You have deleted all contacts</h1>
            <button type='button' class='button-success'><a href ='/add_contact'>Add a new contact</a></button>
        </div>
    </body>
</html>
