<html>
    <head>
        {# <!-- Add bootstrap to html page --> #}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Welcome to your address book!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Personalized Address Book </h1>
            <h3>This site will allow to to create a new address book to store your contacts. No more pen and paper!</h3>
            <h3>Get started by adding your first contact below!</h3>
            <button type='button' class='btn btn-success'><a href='/add_contact'><font color='white'>Add your first contact! </font></a></button>
        <footer>
            <div>
                <p>Already started your address book?  You can access your previously added contacts <a href='view_all_contacts'>here</a>.</p>
            </div>
        </footer>
    </div>
    </body>
</html>
