<html>
    <head>
        {# <!-- Add bootstrap to html page --> #}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Welcome to your address book!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Personalized Address Book </h1>
            <button type='button' class='btn btn-success'><a href='/add_contact'><font color='white'>Add your first contact! </a></button>
        </div>
    </body>
</html>
